**/solution_basic_exercises.ipynb
clases/__pycache__/
clases/utils/__pycache__/
clases/unidad_3/
clases/cpp/basic_cpp/*.exe
**/clase_9_pandas_solution.ipynb
pruebas/
.vscode/
clases/cpp/funciones_cpp/*exe
clases/python/ejercicios/básicos/1_basic_exercises.ipynb
clases/cpp/ejercicios_cpp/basicos_cpp/*exe
clases/python/clase_5_numpy_solution.ipynb
clases/python/__pycache__
clases/python/clase_15_importar_archivos_py_solution.ipynb

